#nav_font{
    position:relative;
    left:7%;
    font-weight: 600;
}
#nav_logo{
    position:relative;
    left:7%;
    font-weight: 600;
}
#mybread{
    position:relative;
    width: 80%;
    font-size: large;
    left:9%;
    font-weight: 600;
}
a:hover{
    text-decoration:none
}
#myjumbotron{
    position: relative;
    left: 10%;
    height: 250px;
    width: 1025px;
    background-color: rgba(224, 224, 216, 0.543);
    
}
h1,h2,h3,h4,h5,h6,p{
    font-weight:600 ;
    
}
#mybutton{
    position: relative;
    left: 79%;
    margin-top: 20px;
    height: 40px;
    width: 100px;
}
