#nav_font{
    position:relative;
    left:7%;
    font-weight: 600;
}
#nav_logo{
    position:relative;
    left:7%;
    font-weight: 600;
}
#mybread{
    position:relative;
    width: 80%;
    font-size: large;
    left:9%;
    font-weight: 600;
}
a:hover{
    text-decoration:none
}
#card_pos{
    position:absolute;
    padding: 5px;
    left: 11%;
    width: 80%;
}
.card{
    width: 19rem;
    height: 450px;
    box-shadow: 0 10px 10px -5px;
    
}
.mycard{
    padding-bottom: 3%;
}
h1,h2,h3,h4,h5,h6,p{
    font-weight:600 ;
    
}
img{
    height: 350px;
    width:auto;
}
    